@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);

::selection { background: transparent; }
::-moz-selection { background: transparent; }

.chrome {
    background: rgba(0,0,0,0.8);
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clear {
	clear: both;
	display: block;
}

b {
	font-weight: 700;
}
.paywall-tab-trigger {
	cursor: pointer;
}
.paywall .green, .paywall a.green {
	color: #85B200 !important;
}
.overflowHidden {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.paywall * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
.paywall {
	opacity: 1;
	overflow: hidden;
	display: block;
	font-family: 'Open Sans', sans-serif;
	pointer-events: inherit;
	position: relative;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.paywall-inner {
    color: #fff;
    text-align: center;
    opacity:1;
    display: block;
    overflow: hidden;
    width: 100%;
}
.paywall-inner:before {
	position: absolute;
	content: '';
	height: 4px;
	width: 100%;
	left: 0;
	top: -2px;
	background: url(gfx/paywall/colored_stripe.png) no-repeat left center;
	background-size: 100%;
}
.paywall .round-button {
	border-radius: 100%;
	border: 1px solid #85B200;
	line-height: 24px;
	height: 30px;
	width: 30px;
	display: inline-block;
	color: #fff !important;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.paywall nav a.round-button{
	line-height: 30px;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}
.paywall nav a.more-info-trigger:active{
	background: #85B200;
}

.aftenposten-logo {
	position: absolute;
	bottom: 25px;
	width: 47px;
	height: 47px;
	left: 50%;
	margin-left: -24px;
	background: url(gfx/paywall-sprite@2x.png) no-repeat center -42px;
	background-size: 47px;
}

.paywall nav {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: block;
	position: relative;
}
.paywall nav div{
	padding: 15px 0;
	margin: 0 20px;
	border: none;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}

.paywall nav div{
	border-bottom: 3px solid transparent;
}
.paywall nav div.open{
	border-bottom: 3px solid #fff;
}
#paywall-content {
	position: relative;
}
.paywall-tab {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0;
	width: 100%;
	left: 25%;
	pointer-events: none;
	padding-bottom: 50px;
	position: absolute;
	top: 0;
	
}
.paywall-tab.open {
	opacity: 1;
	left: 0;
	pointer-events: inherit;
}
.paywall .paywallHeader {
    padding: 0 20px;
    width: 60%;
    margin: 25px auto;
}
.paywall h1 {
    font-size: 30px;
    margin: 0;
}
.paywall p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 100;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.paywall a {
	color: #fff !important;
    text-decoration: none !important;
    font-weight: 100 !important;
}

#paywall-products .paywall-buy-product {
    display: inline-block;
    margin: auto 5px;
}

#paywall-products .round-button {
	position: absolute;
	top: 50%;
	left: 10%;
	margin-top: -40px;
	font-size: 22px;
	line-height: 24px;
}
.paywall .button {
    background: transparent;
	padding: 7px 30px 9px;
    display: inline-block;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 15px;
	border: 1px solid #85B200;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 40px;
}
.paywall a:active .button,
.paywall a.button:active {
    background: transparent;
    border: 1px solid #85B200;
}

.paywall .button.green-button {
	border: 1px solid #85B200;
	background: #85B200;
}

.paywall input {
	background: none;
	border: 1px solid rgba(255,255,255,0.5);
	padding: 12px 15px;
	color: #fff;
	margin: 0;
	font-size: 15px;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.paywall input[type="submit"] {
	background: #85B200;
	border: 1px solid #85B200;
	font-weight: bold;
}
.paywall input[type="submit"]:focus {
	background: none;
	border: 1px solid #85B200;
}
.paywall input::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
}
.paywall input:-moz-placeholder {
	color: #fff;
	font-weight: 400;
}
.paywall input:focus {
	border-color: #fff;
	color: #fff;
	outline-width: 0;
}
.paywall input:focus::-webkit-input-placeholder {
	color: #fff;
}
.paywall footer{
	padding: 20px;
	clear: both;
}
.paywall footer a{
	font-size: inherit;
	margin: 10px 5px !important;
	font-weight: 500 !important;
	font-style: italic !important;
}

.paywall footer a:active{
	color: #85B200 !important;
}

.paywall footer a:active{
	color: #85B200 !important;
}

.paywall a.icon {
	position: relative;
	padding-left: 36px;
	margin-left: 10px !important;
}
.paywall a.icon:before {
	content: '';
	height: 21px;
	width: 21px;
	background: url(gfx/paywall-sprite@2x.png) no-repeat left -19px;
	background-size: 47px;
	position: absolute;
	left: 8px;
}

.paywall a.icon.paywall-logout:before {
	background: url(gfx/paywall-sprite@2x.png) no-repeat -25px -19px;
	background-size: 47px;
}
.paywall a.spid-logo{
	position: relative;
	background: url(gfx/paywall-sprite@2x.png) no-repeat left top;
	background-size: 53px;
	width: 50px;
	display: inline-block;
	height: 20px;
	padding: 0;
	margin: 0 20px -4px 0 !important;
}


.paywall footer p{
	line-height: 1em;
}

.paywall.android-beta .products .paywall-buy-product {
    float: none;
    width: inherit;
}

.paywall .halfWidth {
	width: 45%;
	float: right;
	text-align: center;
}
.paywall .halfWidth:first-child {
	float: left;
}
.paywall #paywall-buy .paywallHeader:first-child {
	width: 80%;
	margin: 10px auto;
}


.paywall.android-beta h1{
	font-size: 28px;
}
@media only screen and (max-width: 768px) {
	.paywall .halfWidth {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.paywall #paywall-buy .paywallHeader:first-child {
		width: 100%;
		margin: 0 auto;
	}

	.paywall .paywallHeader {
		width: 90%;
		padding: 0;
		margin: 10px auto;
	}
	.paywall h1 {
		font-size: 20px;
	}
	.paywall-inner {
	}
	.paywall .paywallHeader {
		width: 100%;
		padding: 0 20px;
		margin: auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.paywall p {
		font-size: 14px;
		text-align: left;
	}
	.paywall footer p {
		text-align: center;
	}
	.paywall input {
		padding: 7px 10px;
		width: 90%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		border-right: none;
		margin-top: -1px;
		float: left;
	}
	#paywall-products .paywall-buy-product,
	.paywall form {
		margin: 5px auto 0;
		width: 90%;
	}
	.paywall .button {
		margin: auto;
		padding: 7px 20px 9px;
		width: 100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.paywall input[type="submit"] {
		background: #85B200;
		border: 1px solid #85B200;
		font-weight: bold;
		width: 10%;
		padding: 0;
		float: left;
		height: 72px;
		margin-top: -36px;
	}
	.paywall nav {
		position: static;
	}
	.paywall nav div {
		padding: 10px 0;
		margin: 0 10px;
		
	}
	.paywall nav a.more-info-trigger {
		bottom: 10px;
		right: 10px;
		top: inherit;
	}
	
	#paywall-products .round-button {
		position: relative;
		top: 0;
		left: 0;
		float: left;
		display: inline-block;
	}

	.paywall footer {
		padding: 10px 20px;
	}
}