@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);

.overflowHidden {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.paywall {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 2147483647; /*Appears on top of everything*/
	opacity: 1;
	overflow: hidden;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
.green {
	color: #85B200;
}

#moreInfoContainer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#moreInfo {
	background: #fff;
	background: rgba(255,255,255,0.95);
	position: absolute;
	overflow: hidden;
	left: 0;
	width: 100%;
	right: 0;
	opacity: 0;
	height: 65%;
	display: table;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

#moreInfo.open{
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
    opacity: 1;
}

#moreInfo .content{
	background: url(gfx/paywall/moreinfo_bg.png) no-repeat #fff left center;
	background-size: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display: table-cell; 
	vertical-align: middle;
	padding-left: 50%;
	padding-right: 10%;
}
#moreInfo .close-more-info {
	text-align: right;
	color: #333;
	padding: 20px;
	margin: auto;
	display: block;
	position: absolute;
	bottom: 0;
	margin-left: -70px;
	right: 0;
	font-weight: 400;
	color: #333;
}
.paywall-inner {
    position: absolute;
    color: #fff;
    text-align: center;
    bottom: -35%;
    left: 0;
    right: 0;
    opacity:0;
    width: 100%;
	height: 35%;	
    display: block;
    background: rgba(0,0,0,0.8);
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.paywall-inner.showPaywall {
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	opacity: 1;
}
.paywall-inner:after {
	position: absolute;
	content: '';
	height: 4px;
	width: 100%;
	left: 0;
	top: -2px;
	background: url(gfx/paywall/colored_stripe.png) no-repeat left center;
	background-size: 100%;
}
.paywall nav {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: block;
	position: relative;
}
.paywall nav div{
	padding: 15px 0;
	margin: 0 20px;
	border: none;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}
.paywall nav div.more-info-trigger{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid #85B200;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}
.paywall nav div.open{
	border-bottom: 3px solid #fff;
}
.paywall-tab {
	display: none;
}
.paywall-login {
	display: block;
}
.paywall-tab.open {
	display: block;
}
.paywall .paywallHeader {
    padding: 0 20px;
    width: 60%;
    margin: 25px auto;
}
.paywall h1 {
    font-size: 30px;
    margin: 0;
}
.paywall p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 100;
}
.paywall a {
	color: #fff;

}
#paywall-products {
}
#paywall-products .paywall-buy-product {
    display: inline-block;
    margin: auto 5px;
}
.paywall .green-button {
    background: #85B200;
	padding: 12px 15px;
    display: inline-block;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 15px;
	border: 1px solid #85B200;
}
.paywall a:active .green-button,
.paywall a.green-button:active {
    background: #3f9207;
    border: 1px solid #3f9207;

}
.paywall a {
    text-decoration: none;
    font-weight: 100;
}

.paywall input {
	background: none;
	border: 1px solid rgba(255,255,255,0.5);
	padding: 12px 15px;
	color: #fff;
	margin: 0;
	font-size: 15px;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.paywall input[type="submit"] {
	background: #85B200;
	border: 1px solid #85B200;
	font-weight: bold;
}
.paywall input::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
}
.paywall input:-moz-placeholder {
	color: #fff;
	font-weight: 400;
}
.paywall input:focus {
	border-color: #fff;
	color: #fff;
	outline-width: 0;
}
.paywall input:focus::-webkit-input-placeholder {
	color: #fff;
}
.paywall footer{
	padding: 20px;
	clear: both;
}
.paywall footer a{
	font-size: inherit;
	margin: 10px 5px;
	font-weight: 500;
	font-style: italic;
}
.paywall footer p{
	line-height: 1em;
}

.paywall.android-beta .products .paywall-buy-product {
    float: none;
    width: inherit;
}

.paywall.android-beta h1{
	font-size: 28px;
}
@media only screen and (min-width: 768px) {
	#moreInfo {
		top: -65%;
	}
}

@media only screen and (max-width: 768px) {
	.paywall .paywallHeader {
		width: 90%;
		padding: 0;
		margin: 10px auto;
	}
	#moreInfo {
		bottom: -404px;
		left: 0;
		right: 0;
		height: auto;
		opacity: 0;
		z-index: 1;
		height: 404px;
	}
	#moreInfo.open{
		transform:translateY(-100%);
		-webkit-transform:translateY(-100%);
	    opacity: 1;
	}
	.paywall-inner {
		height: 400px;
		bottom: -400px;
	}
	.paywall .paywallHeader {
		width: 100%;
		padding: 0 20px;
		margin: auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.paywall p {
		font-size: 14px;
		text-align: left;
	}
	.paywall footer p {
		text-align: center;
	}
	.paywall input {
		padding: 7px 20px;
		width: 90%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		border-left: none;
		border-right: none;
		margin-top: -1px;
		float: left;
	}
	#paywall-products .paywall-buy-product {
		margin: 5px auto 0;
		width: 90%;
	}
	.paywall .green-button {
		margin: auto;
		padding: 7px 20px;
		width: 100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.paywall input[type="submit"] {
		background: #85B200;
		border: 1px solid #85B200;
		font-weight: bold;
		width: 10%;
		padding: 0;
		float: left;
		height: 72px;
		margin-top: -36px;
	}
	.paywall nav {
		position: static;
	}
	.paywall nav div {
		padding: 10px 0;
		margin: 0 10px;
		
	}
	.paywall nav div.more-info-trigger {
		bottom: 10px;
		right: 10px;
		top: inherit;
	}

	
	#moreInfo .content {
		padding: 10% 7%;
		background: none;
	}
	.paywall footer {
		padding: 10px 20px;
	}
}